 header {
   flex-direction: column;
 }

 header ul {

   flex-direction: column;
   text-align: center;

 }

 header ul li {
   padding: 0.5rem;
   margin-top: 1rem;
   border-bottom: 1px dotted #ddd;
 }

 .vp-content h1 {
   padding-top: 1rem;
   margin-bottom: 2rem;
   font-size: 2rem;
 }

 .vp-content p {
   font-size: 1.5rem;
   font-weight: 400;
 }

 .offer {
   padding: 5rem 1rem;
   text-align: center;
 }

 .offer-list {
   flex-direction: column;
 }

 .who {
   flex-direction: column;


 }

 .who-content-img {
   min-height: 300px;
 }

 .who-content-text {
   padding: 4rem 2rem;
 }

 .testimonials-elm {
   flex-direction: column;
 }

 .testimonials-elm-profil {
   text-align: center;
 }

 .testimonials-elm-profil img {
   display: block;
   margin: 2rem auto;
 }

 .contact {
   padding: 5rem 1rem;
 }

 .contact-form-button {
  margin: 3rem auto 0 auto;
 }